.section-advantages {
    //max-width: 1600px;
    //padding-top: 0px;
    //padding-bottom: 0px;
    //margin: auto;
    padding-top: 60px;
    padding-bottom: 60px;
    @media screen and (min-width: 1200px) {
      padding-top: 94px;
      padding-bottom: 94px;
    }
  }
  
  .advantages {
    display: flex;
    margin: -15px;
    //width: 270px;
    //margin: 15px;
    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
    }
  
    .item {
      margin: 15px;
  
      @media screen and (min-width: 768px) {
        width: calc((100% - 2 * 30px) / 2);
      }
  
      @media screen and (min-width: 1200px) {
        width: calc((100% - 4 * 30px) / 4);
      }
    }
  }

  .advantages-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    border-radius: 4px;
    margin-bottom: 30px;
    //padding: 25px 100px;
    background-color: $background;

    .icon {
      width: 70px;
      height: 70px;
    }
  }

  .secondary-title {
    margin-top: 0;
    margin-bottom: 10px;
    color: $txt-title-color;
    font-weight: $boldFontWeight;
    font-size: $mainFontSize;
    line-height: 1.14;
    letter-spacing: $mainLetterSpacing;
    text-transform: uppercase;
    @media screen and (max-width: 767px) {
      text-align: center;
    }
  }
  .text {
    margin-top: 0;
    margin-bottom: 0;
    font-size: $mainFontSize;
    line-height: 1.71;
    letter-spacing: $mainLetterSpacing;
  }