
.header {
    position: relative;
    border-bottom: 1px solid $border-header;
    // width: 100%;
    // height: 80px;
    // border-bottom: 1px solid $border-header;
    // margin: 0 auto;
    // padding: 0 15px;
    
    @media screen and (min-width: 768px) {
      border-bottom-width: 1px;
      border-bottom-style: solid;
      border-bottom-color: #ececec;
      position: relative;
    }
  
    @media screen and (max-width: 767px) {
      //background-color: rgba(255, 255, 255, 1);
      //position: fixed;
      position: relative;
      //top: 0;
      //left: 0;
      //z-index: 10;
      //width: 100%;
    }
}
    nav {
      //display: flex;
      align-items: center;
      height: 60px;
      padding-top: 24px;
      padding-bottom: 25px;
      @media screen and (max-width: 767px) {
        justify-content: space-between;
        min-height: 60px;
      }
    
      @media screen and (min-width: 1200px) {
        display: flex;
        align-items: center;
      }
      // @media screen and (min-width: 768px) {
      //     height: 80px;
      //     padding-top: 24px;
      //     padding-bottom: 25px;
      //     justify-content: space-between;
      //     display: flex;
      //   }
    }
    
    .menu-button {
      position: absolute;
      right: 15px;
      top: 10px;
      display: inline-flex;
      margin: 0;
      padding: 0;
      border: none;
      background-color: transparent;
      
      // justify-content: center;
      // align-items: center;
      // height: 40px;
      // width: 40px;
      // border: none;
      // background-color: transparent;
      // color: rgba(33, 33, 33, 1);
      // transition: all, $transition-duration-timing;
      @media screen and (min-width: 768px) {
        display: none;
      }

      &.icon-close-menu {
        display: none;
      }
      &.is-open .icon-close-menu {
        display: block;
      }
      &.is-open .icon-menu {
        display: none;
      }
      &:hover,
      &:focus {
      color: $accent-color;
      }
    }
    
    .icon-menu {
      transition-property: fill;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      
    }
    
    .icon-close-menu {
      transition-property: fill;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      
    }
    
    .icon-menu:hover,
    .icon-menu:focus,
    .icon-close-menu:hover,
    .icon-close-menu:focus {
      fill: $accent-color;
    }
    // .icon-menu,
    // .menu-close {
    // fill: currentColor;
  
    
    
  .menu-container {
    background-color: #ffffff;
    text-align: center;
    //display: none;
    display: flex;
    //justify-content: space-between;
    //flex-grow: 1;
    width: 100%;
    z-index: 10;
  
    @media screen and (max-width: 767px) {
      display: none;
      position: absolute;
      z-index: 999;
      top: 100%;
      left: 0;
      width: 100%;
      padding-top: 60px;
      padding-bottom: 60px;
      background-color: rgba(255, 255, 255, 1);
      //box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
      border-top: 1px solid #ececec;
    
      &.is-open {
        display: block;
      }
    }
      @media screen and (min-width: 768px) {
        display: flex;
        justify-content: space-between;
        //flex-grow: 1;
        text-align: left;
        width: 100%;
      }
  }
  
  .site-nav {
    // transition: $transition-property, $transition-duration-timing;
    // & .item + .item {
    //   margin-left: 50px;
    // }
    @media screen and (max-width: 767px) {
      margin-bottom: 60px;
      //display: block;
      //width: 100%;
  
      .item:not(:last-child) {
        margin-bottom: 40px;
      }
    }

    @media screen and (min-width: 768px) {
      display: flex;
      //align-items: center;
    }
    @media screen and (min-width: 768px) {
      display: flex;
  
      .item:not(:last-child) {
        margin-right: 50px;
      }
    }
  }

  .nav-page {
    //position: relative;
    //display: block;
    // padding-top: 32px;
    // padding-bottom: 32px;
    color: $txt-title-color;
    font-weight: 500;
    font-size: 18px;
    line-height: $mainLineHeight;
    letter-spacing: 0.02em;
    transition-property: color;
    transition: $transition-duration-timing;

    @media screen and (min-width: 768px) {
      display: block;
      font-size: 14px;
      line-height: 1.33;
      padding-top: 32px;
      padding-bottom: 32px;
    }
  
    &:hover,
    &:focus {
      color: $accent-color;
    }
  }
  
  .nav-page.current {
    //position: relative;
    color: $accent-color;
    // font-weight: 500;
    // font-size: $mainFontSize;
    // line-height: 1.33;
    // letter-spacing: 0.02em;
  }

  .current {
    @media screen and (max-width: 767px) {
      padding-bottom: 8px;
      position: relative;
    }
  }
  
  .current::after {
    display: block;
    content: "";
    height: 4px;
    width: 100%;
    border-radius: 2px;
    background-color: $accent-color;
    position: absolute;
    bottom: 0;
    left: 0;
  }

   // .nav-item {
  //     position: relative;
    
  //   @media screen and (min-width: 768px) {
  //     display: flex;
  
  //     .item:not(:last-child) {
  //       margin-right: 50px;
  //     }
  //   } 
  // }
  // .item {
  //   @media screen and (max-width: 767px) {
  //     margin: 0 auto 40px;
  //     padding-bottom: 10px;
  //     &:last-child {
  //       margin-bottom: 0px;
  //     }
  //     width: min-content;
  //   }
  //   @media screen and (min-width: 768px) {
  //     &:not(:last-child) {
  //       margin-right: 50px;
  //     }
  //   }
  // }

//   .container {
//     display: flex;
//     align-items: center;

//     @media screen and (max-width: 767px) {
//       padding-top: 10px;
//       padding-bottom: 10px;
//       justify-content: space-between;
//     }
//     @media screen and (min-width: 768px) {
//       padding-top: 0px;
//       padding-bottom: 0px;
//       justify-content: unset;
//     }
//   }
// }

// .navigation {
//   display: flex;
//   align-items: center;
// }

.site-contact {
  align-items: center;
  display: flex;
  flex-direction: column;
  // margin-left: auto;
  // transition: $transition-property, $transition-duration-timing;
  
    @media screen and (max-width: 767px) {
      display: block;
      //width: 100%;
      .item:not(:last-child) {
        margin-bottom: 16px;
      }
    }
  
    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      margin-left: auto;
    }
  
    // @media screen and (min-width: 768px) and (max-width: 1199px) {
    //   width: min-content;
    //   margin-left: auto;
    //   padding: 21px 0;
    // }
    // @media screen and (min-width: 1200px) {
    //   display: flex;
    //   align-items: center;
    //   margin-left: auto;
    // }

    @media screen and (max-width: 1199px) {
      .item:not(:last-child) {
        margin-bottom: 10px;
      }
    }

    @media screen and (max-width: 1199px) and (min-width: 768px) {
      margin-top: 19px;
      margin-bottom: 19px;
    }
    
    @media screen and (min-width: 1200px) {
      display: flex;
      align-items: center;
      margin-left: auto;
    }
}

  .site-contact .nav-contact {
    display: flex;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.02em;

    // @media screen and (min-width: 768px) and (max-width: 1199px) {
    //   display: flex;
    // flex-direction: column;
    // justify-content: space-between;
    // display: flex;
    // flex-direction: row;
    // width: 294px;
    // margin-right: 84px;
    // }
  
    @media screen and (min-width: 768px) {
      font-size: 12px;
      line-height: 1.17;
      display: flex;
      flex-direction: column;
    }
  
    @media screen and (min-width: 1200px) {
      font-size: 14px;
      line-height: 1.33;
    }
    // @media screen and (max-width: 767px){
    // margin-top: 60px;
    // margin-bottom: 60px;

    //   &:last-child {
    //     margin-top: 0;
    //   }
    // }
  }

.nav-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  // transition: all, $transition-duration-timing;
  // width: max-content;
  font-weight: 500;
  font-size: $mainFontSize;
  line-height: $mainLineHeight;
  letter-spacing: 0.02em;
  color: rgba(117, 117, 117, 1);

  @media screen and (min-width: 768px) {
    justify-content: left;
    //font-size: 12px;
  }

  @media screen and (min-width: 1200px) {
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    // padding-top: 32px;
    // padding-bottom: 32px;
    // font-size: 14px;
    // line-height: 1.14;
  }

  &:hover,
  &:focus {
  color: $accent-color;
  }
}

// .contact-icon {
//   transition: all, $transition-duration-timing;
//   margin-right: 10px;
//   fill: rgba(117, 117, 117, 1);
// }

// .nav-contact:hover,
// .nav-contact:focus {
// color: $accent-color;
// }

.site-contact .item + .item {
  //margin-left: 50px;
  @media screen and (min-width: 1200px) {
    margin-left: 30px;
  }
}
.contact-icon {
  margin-right: 10px;
  fill: currentColor;
  //transition: $transition-property, $transition-duration-timing;
}

// .nav-contact:hover,
// .nav-contact:focus,
// .site-contact .item:hover,
// .site-contact .item:focus {
//   color: var(--accent-color);
// }
  
// .address-item {
//   @media screen and (max-width: 767px) {
//     margin: 0 auto 16px;
//     &:last-child {
//       margin-bottom: 0px;
//     }
//     width: min-content;
//   }
//   @media screen and (min-width: 1200px) {
//     &:not(:last-child) {
//       margin-right: 50px;
//     }


