.hero-section {
    //padding: 200px 0px;
    padding-top: 118px;
    padding-bottom: 118px;
    background-color: $bgr-primery-dark;
    //height: 600px;
    height: 400px;
    max-width: 1600px;
    margin: 0 auto;
    background-image: linear-gradient( 
      to right,
      $overlay-color,
      $overlay-color),
    url('../images/bgd-main-opt.jpg');
    background-repeat: no-repeat;
    //background-size: cover;
    background-position: center;
    text-align: center;
    background-color: $bgr-primary-light;
    color: $primery-white-color;

    // @media screen and (min-width: 480px) {
    //   max-width: 767px;
    //   background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../img/hero_tab.jpg');
    // }
  
    // @media screen and (min-width: 768px) {
    //   max-width: 1199px;
    //   background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../img/hero_des.jpg');
    // }

    @media screen and (min-width: 1200px) {
      padding-top: 200px;
      padding-bottom: 200px;
      height: 600px;
    }
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (-webkit-min-device-pixel-ratio: 2),
  screen and (-o-min-device-pixel-ratio: 2/1),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .hero-section {
    background-image: linear-gradient(
        to right,
        $overlay-color,
        $overlay-color
      ),
      url(../img/main_background_img@2x.jpg);
      // @media screen and (min-width: 480px) {
      //   max-width: 767px;
      //   background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../img/hero_tab_@2x.jpg');
      // }
      // @media screen and (min-width: 768px) {
      //   max-width: 1199px;
      //   background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../img/hero_des_@2x.jpg');
      // }
      // @media screen and (min-width: 1200px) {
      //   max-width: 1600px;
      // }
  }
}

  
  .hero-title {
    color: $primery-white-color;
    //width: 696px;
    // margin-top: 0;
    // margin-bottom: 30px;
    margin: 0 auto 30px;
    font-weight: 900;
    //font-size: 44px;
    font-size: 26px;
    //line-height: 1.36;
    line-height: 1.62;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    @media screen and (min-width: 1200px) {
      max-width: 700px;
      font-size: 44px;
      line-height: 1.36;
    }
  }
 
  .hero-button {
    //display: inline-block; работает без
    padding: 10px 32px;
    margin-left: auto;
    margin-right: auto;
    min-width: 200px;
    font-family: inherit;
    font-size: 16px;
    font-weight: $boldFontWeight;
    line-height: 1.9;
    border-radius: 4px;
    min-width: 200px;
    //border: 1px solid transparent;
    border: 0;
    text-align: center;
    //align-items: center;
    //text-transform: initial;
    letter-spacing: 0.06em;
    background-color: $accent-color;
    color: $primery-white-color;
    //box-shadow: none;
    transition: $transition-property, $transition-duration-timing;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    &:hover,
    &:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.21);
    background-color: #188CE8;
    cursor: pointer;
    }
  }
  
