
.portfolio-section {
    // padding-bottom: 94px;
    // padding-top: 92px;
    padding-bottom: 60px;
    padding-top: 60px;
    @media screen and (min-width: 1200px) 
    {
      padding-bottom: 94px;
      padding-top: 92px;
    }
  }
  // .portfolio-img {
  //   display: block;
  //   height: auto;
  //   min-width: 0;
  // }
  
  .portfolio-container {
    display: flex;
    flex-wrap: wrap;
    //justify-content: center;
    justify-content: left;
    //margin-bottom: 50px;
    margin-bottom: 40px;

    @media screen and (min-width: 768px) {
      display: flex;
      justify-content: center;
      margin-bottom: 30px;
    }
  
    @media screen and (min-width: 1200px) {
      margin-bottom: 50px;
    }
  
    & li:not(:nth-last-child(-n + 2)) {
      margin-bottom: 15px;
    }
    & li:not(:last-child) {
      margin-right: 8px;
    }
  }
  
  .btn-portfolio {
  display: inline-block;
  text-align: center;
  //font-family: $mainFont;
  // font-style: $mainFontStyle;
  // font-weight: 500;
  // font-size: 16px;
  // line-height: 26px;
  //letter-spacing: $mainLetterSpacing;
  color: $txt-title-color;
  border: 0;
  border-radius: 4px;
  padding: 6px 22px;
  background-color: $background;
  transition: $transition-property, $transition-duration-timing;
    &:hover,
    &:focus {
      background-color: $accent-color;
      color: $primery-white-color;
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 
      0px 1px 2px rgba(0, 0, 0, 0.08), 
      0px 2px 2px rgba(0, 0, 0, 0.12);
    }
  }
  
  /* PROJECTS */
  .projects-container {
    // display: flex;
    // flex-wrap: wrap;
    margin: -15px;
    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
    }
  }
//   .projects:last-child {
//     &:hover .portfolio-image-caption,
//     &:focus-within .portfolio-image-caption{
//     cursor: pointer;
//     transform: translateY(0);
//   }
// }
  
  .projects {
    //width: 370px;
    margin: 15px;
    @media screen and (min-width: 768px) {
      width: calc((100% - 2 * 30px) / 2);
    }
  
    @media screen and (min-width: 1200px) {
      width: calc((100% - 3 * 30px) / 3);
    }
  }
 
  .portfolio-link {
    display: block;
    //font-size: 100%;
    transition: $transition-property, $transition-duration-timing;
    &:hover,
    &:focus,
    &:hover .portfolio-image-caption,
    &:focus .portfolio-image-caption{
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 
      0px 4px 4px rgba(0, 0, 0, 0.06), 
      1px 4px 6px rgba(0, 0, 0, 0.16);
      transform: translateY(0);
    }
  }
  
  .projects:hover .portfolio-image-caption-text,
  .projects:focus .portfolio-image-caption-text{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 
      0px 4px 4px rgba(0, 0, 0, 0.06), 
      1px 4px 6px rgba(0, 0, 0, 0.16);
      transform: translateY(0%);
    }

  .portfolio-image-wrapper {
    position: relative;
    overflow: hidden;
  }

  .portfolio-image-caption {
    display: flex;
    position: absolute;
    padding: 63px 24px;
    // top: 0;
    // left: 0;
    bottom: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    background-color: $accent-bgr;
    transition: transform, $transition-duration-timing;
  }

  .portfolio-image-caption-text {
    font-weight: $mainFontWeight;
    font-size: 18px;
    line-height: 1.56;
    color: $primery-white-color;
  }
  
  .portfolio-content {
    padding: 20px 5px 20px 24px;
    border-right: 1px solid $border-color;
    border-left: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    //height: 111px;
  }
  
  .project-name {
    margin-top: 0;
    margin-bottom: 4px;
    color: $txt-title-color;
    font-weight: $boldFontWeight;
    letter-spacing: 0.06em;
    font-size: 18px;
    line-height: 2;
    // width: 320px;
    // height: 36px;
  }
  
  .project-type {
    margin: 0;
    //font-weight: $mainFontWeight;
    color: $txt-primery-color;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: $mainLetterSpacing;
  }
  