.section-title {
    margin-top: 0;
    margin-bottom: 50px;
    color: $txt-title-color;
    font-weight: $boldFontWeight;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: $mainLetterSpacing;
  }
  .team-container {
    width: 1200px;
    height: 705px;
    padding: 94px 0;
    margin: 0 auto;
  }
  
  .team {
    //width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: $background;
    @media screen and (min-width: 1200px) {
      padding-top: 94px;
      padding-bottom: 94px;
    }
  }
  
  .team-faces {
    // display: flex;
    // align-items: center;
    // width: 1170px;
    // margin-right: 0;
    margin: -15px;

    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
    }
  }
  
  
  .team-card {
    margin: 15px;
    //width: 270px;
    border-radius: 0px 0px 4px 4px;
    background-color: $primery-white-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    
    &:not(:last-child) {
      margin-right: 38px;
    }

    @media screen and (min-width: 768px) {
      width: calc((100% - 2 * 30px) / 2);
    }
  
    @media screen and (min-width: 1200px) {
      width: calc((100% - 4 * 30px) / 4);
    }
  }
  
  .team-content {
    padding: 30px 10px 24px 10px;

    @media screen and (min-width: 1200px) {
      padding: 30px 10px;
    }
  
    & ul {
      display: flex;
      justify-content: center;
    }
  }
  
  .team-name {
    margin-top: 0;
    margin-bottom: 10px;
    text-align: center;
    color: $txt-title-color;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: $mainLetterSpacing;
  }
  
  .team-position {
    margin: 0 0 16px 0;
    text-align: center;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: $mainLetterSpacing;
  }

  .soc-icons:not(:last-child) {
    margin-right: 10px;
  }

  .icon {
    fill: currentColor;
    display: block;
    //transition: $transition-property, $transition-duration-timing;
  }
  
  .section-icon {
    //display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    //padding: 12px;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: $txt-icon;
    transition: $transition-property, $transition-duration-timing;
    &:hover,
    &:focus,
    &:hover svg,
    &:focus svg{
      background-color: $accent-color;
      color: $primery-white-color;
      //transition: $transition-property, $transition-duration-timing;
    }
  }
